services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        APP_NAME: backend
      target: prod-backend
    env_file:
      - ./backend/.env
    ports:
      - "3000:3000"
    restart: always
    depends_on:
      - postgres

  bot:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        APP_NAME: bot
      target: prod-bot
    env_file:
      - ./bot/.env
    restart: always
    depends_on:
      - backend
