services:
  backend:
    build:
      target: prod
    ports:
      - "3000:3000"
    restart: always
    depends_on:
      - postgres

  bot:
    build:
      target: prod
    restart: always
    depends_on:
      - backend
