version: "3.9"

services:
  postgres:
    image: postgres:15
    env_file:
      - .env.db
    volumes:
      - pgdata:/var/lib/postgresql/data
  migrate:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        APP_NAME: backend
      target: dev
    env_file:
      - ./backend/.env
    depends_on:
      - postgres
    command: npx prisma migrate deploy
    restart: "no"

  backend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        APP_NAME: backend
    env_file:
      - ./backend/.env
    depends_on:
      - postgres

  bot:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        APP_NAME: bot
    env_file:
      - ./bot/.env
    depends_on:
      - backend

volumes:
  pgdata:
