services:
  backend:
    build:
      target: dev
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app
      - /app/node_modules

  bot:
    build:
      target: dev
    command: npm run start:dev
    volumes:
      - ./bot:/app
      - /app/node_modules